body {
    font-family: Arial, sans-serif;
    background-color: #90dd13;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #8360c0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #0d0c0c;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid hwb(0 4% 90%);
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    background-color: #e6190a;
    color: #eef1ef;
    border-radius: 4px;
    font-size: 16px;

    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: hwb(0 5% 2% / 0.945);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #e53935;
    color: #0f0909;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c62828;
}
